<!DOCTYPE html>
<hbs>
    <link rel="stylesheet" href="css/universal.css">

    <head>
        <style>
            /* Default CSS Values */
            a:link, a:visited { 
              color:black;
              text-decoration: underline;
              cursor: auto;
            }
        </style>
    </head>

    <body>
        <div id = "top">
            <div id = "topLeft">
                <div id = "logo"><img src = "/images/DLSU.png"></div>
                <div id = "title">DLSU LABORATORY RESERVATION SYSTEM</div>
            </div>
            <div id = "topRight">

                <div class ="dropdown margin">
                    <button type="button" id="reservee" class="reservee">RESERVE</button>
                        <div class="dropdown-content">
                            <button type="button" class = "button innerlink" onclick="window.location.href='/reserve';">Reserve For Student</button>
                            <button type="button" class = "button innerlink" onclick="window.location.href='/remove';">Remove Reservation</button>
                            <button type="button" class = "button innerlink" onclick="window.location.href='/edit_reservations';">Edit Reservation</button>
                            <button type="button" class = "button innerlink " onclick="window.location.href='/view_reservations';">View Reservation</button>
                        </div>
                </div>
                
                
                <button id = "view" class = "dropbtn margin" onclick="window.location.href='/view_slot';">VIEW SLOT</button>
                <button type="button" id = "home" onclick="window.location.href='/homie';">Home</button>

                <div class ="dropdown margin">
                    <button type="button" id="icon" class = "dropbtn"><img src="/images/profile.png"></button>
                    <div class="dropdown-content-user">
                        <button type="button" class = "button innerlink" onclick="window.location.href='view_user';">View User Profile</button>
                        <button type="button" class = "button innerlink" onclick="window.location.href='edit_user';">Edit User Profile</button>
                    </div>
                </div>
            </div>
        </div>
        <div id = "detailFather">
        <div class="detailContainer">
            <div class="details">
                Here is the list of reservations:
            </div>
        </div>
        <div id = "space">

        </div>
        <div class="detailContainerTwo">
            <div class="detailsTwo">
                RESERVATIONS
            </div>
        </div>

    </div>
        
        <div>
        {{#if reservations.length}}
        <ul>
            {{#each reservations}}
                <li>
                    <strong>Name:</strong> {{this.name}}<br>
                    <strong>Seat:</strong> {{this.seat}}<br>
                    <strong>Room:</strong> {{this.room}}<br>
                    <strong>Date:</strong> {{this.reservationDate}}<br>
                    <hr>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No reservations found.</p>
    {{/if}}
    </div>
    </body>


</hbs>
